<input type="file" (change)="fileChangeEvent($event)" class="choose btn-file"/>
<div class="block-image">
  <image-cropper
    class="image-cropper"
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [cropperMinWidth]="128"
    [cropperMaxWidth]="128"
    format="png"
    (imageCropped)="imageCropped($event)"
    (loadImageFailed)="loadImageFailed()"
  ></image-cropper>
</div>
<button
  type="button"
  class="btn-save"
  [disabled]="!imageChangedEvent"
  (click)="saveImageToLocalStorage()"
>
  Save to Local Storage
</button>
<button
  type="button"
  class="btn-remove"
  *ngIf="base64Image"
  (click)="removedCroppedImage()"
>
  Remove Cropped Image
</button>
<div>
  <img [src]="base64Image"/>
</div>
